<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div  class="container ">
          <h1>Apply Now</h1>
          <p>Please Fill the Details</p>
            <label for="fullname"><b>Full Name : </b></label>
            <input name="full_name"  type="text" placeholder="Fullname" id="fullname" required><br><br>
            <label for="email"><b>Email :</b></label>
            <input name="email"  type="email" placeholder="Email" id="email" required><br><br>
            <label for="email"><b>Phone Number</b></label>
            <input type="number" name="phone" placeholder="Contact number" required><br><br>
            <label for="resume">Upload Resume</label>
            <input name="resume" type="file" placeholder="upload resume" id="resume"><br><br>
            <label>EXPERIENCE <span>(optional)</span></label><br><br>
            <label for="job_title">Job Title :</label>
            <input name="current_position" id="job_title" type="text"><br><br>
            <label for="company">Company :</label>
            <input name="current_company" id="company" type="text"><br><br>
            <div class="clearfix">
                <button type="submit" class="btn btn-success">Apply Now</button>
            </div>
        </div>
      </form>




</body>
</html>