<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">{% csrf_token %}
    <center>
        <div class="container">
            <table>
                <tr>
                    <th>Company name</th>
                    <td><input type="text" name="username" value="{{x.user.username}}"></td>
                </tr>
                <tr>
                    <th>Company Email</th>
                    <td><input type="text" name="email" value="{{x.user.email}}"></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <button type="submit">Update</button>
                    </th>
                </tr>
            </table>
        </div>
    </center>
</form>
</body>
</html>